*{
  padding: 0;
  margin: 0;
}
body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animated-text {
  font-size: 3rem;
  font-weight: bold;
  animation: colorChange 3s infinite;
  text-transform:capitalize;

}

@keyframes colorChange {
  0% {color: #ff0040;}
  25% {color: #00ff99;}
  50% {color: #0088ff;}
  75% {color: #ff00ff;}
  100% {color: #ff0040;}

}
