.social-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-icons a{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #333;
  background-color: #fff;
  line-height: 60px;
  box-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.social-icons a:hover{
  transform: scale(1.2);
  color: white;
  box-shadow: 0px 2px currentColor;
}
.social-icons a:nth-child(1):hover{
  background-color: #1877F2;
}
.social-icons a:nth-child(2):hover{
  background-color: #E4405F;
}
.social-icons a:nth-child(3):hover{
  background-color: #FF0000;
}